:root {
  --background1: transparent;
  --background2: transparent;
  --background3: transparent;
  --background4: transparent;
}
::-webkit-scrollbar {
  width: 5px;
  height: 100vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--background2);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background1);
}

.content {
  width: 82%;

  float: left;
  overflow-y: auto;
  position: absolute;
  top: 90px;
  left: 18%;
}
/* Start my Account */
.myAccount {
  background-color: transparent;
  height: 900px;
  display: none;
  max-height: 600px;
}
.myAccount-level {
  padding: 10px;
  color: #fff;
}
.user-profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.user-profile .avatar img {
  border-radius: 50%;
  width: 95px;
  height: 95px;
  margin-bottom: 10px;
}
.user-nav {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
}
.user-nav ul {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ad9db9;
  font-weight: 400;
  margin: 0 auto;
  background-color: transparent;
}
.user-nav ul li {
  padding: 4px;
  list-style: none;
}
.user-nav span {
  cursor: pointer;
  color: #fff;
  padding: 4px 25px;
  opacity: 0.8;
}
.user-nav .active {
  border-radius: 20px;
  opacity: 1;
  background-color: #8f8e8e;
}
.user-nav span:hover {
  opacity: 1;
}
.header-myAccount {
  margin-top: 40px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-weight: 400;
}
.header-myAccount h3 {
  font-size: 25px;
}
.header-myAccount span {
  color: #fff;
  text-decoration: none;
  padding: 7px 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #4b206e;
  opacity: 0.8;
}
.header-myAccount span i {
  margin-right: 5px;
}
.header-myAccount span:last-child {
  background-color: #ed2b91;
  margin-left: 6px;
}
.header-myAccount span {
  cursor: pointer;
  opacity: 1;
}
.header-myAccount h3:hover {
  color: #ed2b91;
}
.user-song {
  width: 100%;
  margin-top: 20px;
  display: flex;
  height: 300px;
}
.img-song-user {
  width: 28%;
  height: 100%;
  background-color: transparent;
}
.Thesong-user {
  height: 100%;
  width: 72%;
  background-color: transparent;
}
.thesong {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.thesong:hover {
  background-color: #4b206e;
}
.thesong:hover .song-infor > .hovered > i {
  color: #fff;
}
.thesong:hover .song-infor > .hovered > img {
  opacity: 0.5;
}

.img-song {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.song-infor {
  display: flex;
}
.song-infor > .hovered > i {
  position: relative;
  left: -30px;
  right: 0;
  top: -14px;
  bottom: 0;
  /* display:none; */
  color: transparent;
}
.infor {
  display: flex;
  flex-direction: column;
}
.iconSong-user i {
  margin: 0 10px;
}
.list-song-user {
  height: 300px;
  overflow-y: auto;
}

.list-song-user::-webkit-scrollbar {
  width: 5px;
  height: 100vh;
}

/* Track */
.list-song-user::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--background4);
  border-radius: 10px;
}

/* Handle */
.list-song-user::-webkit-scrollbar-thumb {
  background: var(--background3);
  border-radius: 10px;
}

/* Handle on hover */
.list-song-user::-webkit-scrollbar-thumb:hover {
  background: var(--background3);
}

.title-user-song {
  white-space: nowrap;
  width: 220px;
  max-width: 220px;
  overflow: hidden;
}
.singer-user-song {
  white-space: nowrap;
  width: 200px;
  max-width: 200px;
  overflow: hidden;
}
.playlist-user {
  margin-top: 20px;
  width: 100%;
  height: 400px;
}
.playlist-user h3 {
  font-size: 25px;
  font-weight: 400;
}
.playlist-item {
  display: flex;
  margin-top: 20px;
}
.item {
  width: 18%;
  overflow: hidden;
  height: 260px;
  margin-right: 20px;
  border-radius: 10px;
}
.item:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(230, 7, 174), rgb(177, 10, 74));
}
.item:first-child div {
  text-align: center;
}
.item:first-child div i {
  margin-bottom: 10px;
}
.item .top {
  border-radius: 10px;
  height: 90%;
  overflow: hidden;
  transform-origin: 50% 50%;
  transition: transform 5s, filter 3s ease-in-out;
}
.item .down {
  text-align: center;
  padding-top: 10px;
}
.top .img-top,
.top .img-down {
  display: flex;
  height: 50%;
}
.top img {
  width: 50%;
  height: 100%;
}
.item .top:hover {
  transform: scale(3);
}
.item:last-child:hover .hover-playlist {
  display: flex;
}
.hover-playlist {
  display: flex;
  width: 18%;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 85px;

  top: -140px;
  display: none;
}
.hover-playlist i {
  width: 40px;
  color: #fff;
  margin: 0 20px;
}
.img-song-user ul {
  overflow: hidden;
  display: flex;
  padding: 20px 0;
  align-items: center;
  flex-direction: column;
}
.img-song-user ul li {
  list-style: none;
  display: flex;
}
.img-song-user .one img {
  display: flex;
  height: 260px;
  width: 240px;
  position: absolute;
  z-index: 4;
  left: 60px;
  transition: 1s all;
}
.img-song-user .two img {
  height: 230px;
  width: 230px;
  position: absolute;
  z-index: 3;
  left: 40px;
  bottom: 5px;
  opacity: 0.9;
  transition: 1s all;
}
.img-song-user .three img {
  height: 196px;
  width: 196px;
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 20px;
  opacity: 0.6;
  transition: 1s all;
}
.img-song-user .four img {
  height: 162px;
  width: 162px;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 40px;
  opacity: 0.3;
  transition: 1s all;
}

/* End My Account */

/* Start Home */
.home {
  background-color: transparent;
  height: 900px;
  display: none;
  max-height: 600px;
}
.homeLevel {
  padding: 10px;
}
.slideShow {
  display: flex;
  flex-direction: column;
}
.img-slideShow {
  display: flex;
  overflow: hidden;
}
.img-slideShow img {
  width: 415px;
  height: 250px;
  padding: 15px;
  border-radius: 25px;
  min-width: 415px;
  /* display: none; */
  transition: 1s all;
  /* transform: translateX(-400px); */
}
.img-slideShow .first,
.img-slideShow .seconds,
.img-slideShow .third {
  display: block;
  transition: 1s all;
}
.img-slideShow span {
  height: 55px;
  width: 55px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s all;
}

.img-slideShow .prev {
  position: absolute;
  z-index: 10;
  top: 105px;
  left: 30px;
  width: 55px;
  height: 55px;
  display: none;
}
.img-slideShow .next {
  position: absolute;
  z-index: 10;
  top: 105px;
  right: 20px;
  width: 55px;
  height: 55px;
  display: none;
}
.img-slideShow:hover .prev,
.img-slideShow:hover .next {
  display: flex;
}
.qc {
  width: 100%;
  height: 90px;
  margin-top: 20px;
}
.qc img {
  width: 100%;
  height: 90px;
}
.like {
  margin-top: 40px;
}
.recentlyList h3,
.like h3 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.likedList {
  display: flex;
}
.song-home {
  width: 20%;
  background-color: transparent;
  height: 280px;
  overflow: hidden;

  padding: 8px;
  text-align: center;
}
.song-home img {
  width: 95%;
  height: 98%;
  max-height: 240px;
  border: 1px solid transparent;
  border-radius: 10px;
  overflow: hidden;

  transform-origin: 48% 48%;
  transition: transform 5s, filter 3s ease-in-out;
}
.song-home p {
  font-size: 15px;
  padding-top: 10px;
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.recentlyList {
  margin-top: 40px;
}
.hover-playmusic {
  display: flex;
  width: 18%;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 95px;
  top: -180px;
  color: #ffff;
  display: none;
}
.events {
  display: flex;
  height: 400px;
}
.hover-playmusic i {
  width: 40px;
  color: #fff;
  margin: 0 25px;
}
.song-home img:hover {
  transform: scale(1.5);
}
.song-home:hover .hover-playmusic {
  display: flex;
}
.even {
  width: 100%;
  margin-top: 40px;
  height: 300px;
}
.even h3 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.even-home {
  width: 33.33%;
  height: auto;
  background-color: transparent;
  padding: 15px;
  /* display: flex; */
}
.infor-even {
  color: #ffff;
  background-color: transparent;
  max-height: 230px;
  max-width: 375px;
}
.content-even {
  z-index: 18;
  position: relative;
  top: -100px;
  left: 15px;
}
.content-even span {
  background-color: #ffffff;
  color: red;
  padding: 3px;
  margin-bottom: 5px;
}
.content-even .title-even {
  font-size: 20px;
  padding: 8px;
  padding-left: 0;
}
.infor-even img {
  width: 100%;
  max-width: 375px;
  height: 90%;
  max-height: 270px;
}
.infor-even-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.infor-even-user button {
  padding: 9px 20px;
  border: 1px solid transparent;
  background-color: #ed2b91;
  border-radius: 17px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
.join {
  color: #ffff;
}
/* End Home */

/* Start Trend */
.trend {
  background-color: transparent;
  height: 900px;
  display: none;
  max-height: 600px;
}
.trendLevel {
  width: 100%;
  padding: 10px;
}
.headerTrend {
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.headerTrend h2 {
  font-size: 30px;
  color: #fff;
}
.headerTrend i {
  color: #ed2b91;
  margin-left: 10px;
}
.chart {
  background: red;
  width: 100%;
  height: 300px;
}
article {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ad9db9;
  -webkit-text-stroke: 1px #ffffff;
}

.toptrendLevel {
  color: #ffff;
  margin-top: 20px;
}
.toptrendLevel .left {
  display: flex;
  align-items: center;
}
.toptrendLevel .left h1 {
  font-size: 40px;
  margin-right: 10px;
  width: 50px;
}
.toptrendLevel .left i {
  margin-right: 15px;
}
.top1 {
  -webkit-text-fill-color: #091ed8;
}
.top2 {
  -webkit-text-fill-color: #06e035;
}
.top3 {
  -webkit-text-fill-color: #e90606;
}
.more {
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more button {
  padding: 8px 30px;
  border: 1px solid #ffff;
  border-radius: 20px;
  background: transparent;
  color: #ffff;
  font-size: 15px;
}
.more button:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.weekTrend {
  width: 100%;
  margin-top: 20px;
  height: 600px;
}
.weekTrend h3 {
  font-size: 30px;
  color: #fff;
}
.weekTrenLevel {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.weektrendItem {
  width: 33%;
  height: 450px;
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid transparent;
  border-radius:20px;
  color: #fff;
  padding: 10px;
}
.weekitem{
  display: flex;
  flex-direction: column;
}
.headerWeek{
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding: 10px 0px;

}
.headerWeek i{
margin-left: 20px;
color: #ed2b91;
}
.listweekTrend .song .left{
  display: flex;
  align-items: center;
  
}
.listweekTrend .song .left i{
  margin: 0 10px;
}
.listweekTrend .song .left .infor{
  margin-left: 10px;
}
.listweekTrend .song .left .song-infor i:last-child{
  position: relative;
  z-index: 9;
  top:11px;
  right: 265px;
  
  display: none;

}
.listweekTrend .song .left{
  padding:10px;
  cursor: pointer;
  width: 100%;
}
.footerWeek{
  display:flex;
  align-items: center;
  justify-content:center;
}
.footerWeek button{
  padding: 8px 30px;
  border: 1px solid #ffff;
  border-radius: 20px;
  background: transparent;
  color: #ffff;
  font-size: 15px;
  margin-top: 20px;
}
.footerWeek button:hover {
  background-color: hsla(0,0%,100%,0.05);
}
.right{
  display: flex;
  position:relative;
  left:-40px;
  display:none;

}
.right i{
  margin: 0 5px;
}
.listweekTrend .song .width:hover{
  background-color: #4b206e;
}

.listweekTrend .song .left:hover .song-infor i:last-child{
  display: block;
}
.listweekTrend .song .left:hover .right{
  display: flex;
}
.listweekTrend .song{
  display: block;
}
.width{
  width: 100%;
  /* background:#e90606; */
  min-width: 385px;
  
}
.weekTrenLevel{
  display: flex;
  justify-content:space-between;
}
/* End Trend */

/* Start Liked Song */
.likedSong {
  background-color: rgb(11, 35, 245);
  height: 900px;
  display: none;
  max-height: 600px;
  
}
/* End Liked Song */

/* Start Album */
.album {
  background-color: rgb(226, 223, 17);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End Album */

/* Start Artist */
.artist {
  background-color: rgb(192, 23, 192);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End  Artist*/

/* Start  History*/
.history {
  background-color: rgb(92, 245, 4);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End  History*/

/* Start Playlist */
.playlist {
  background-color: rgb(12, 236, 98);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End  Playlist*/
.content .active {
  display: block;
}
.baotri img{
  width: 600px;
  height: 300px;
}
.frameBaotri{
  line-height: 6;
}
.baotri{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}