/* Reset Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100%;
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 10px;
}
.frame {
  margin: 10px;
  margin-top: 0;
  height: 100vh;
}
/* Start Nav */
.logo {
  width: 100%;
  padding-top: 10px;
  height: 70px;
  margin-bottom: 10px;
}
#nav {
  width: 15%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: #ffffff0d;
}
#nav li {
  list-style-type: none;
  margin-left: 0;
  opacity: 0.9;
  display: flex;
  align-items: center;
  margin-left: 6px;
  color: #fff;
  padding: 10px 25px;
}
#nav li:hover {
  opacity: 1;
  cursor: pointer;
}

#nav i {
  color: #fff;
  margin: 0 6px;
}
#nav h3 {
  color: #fff;
  padding: 10px;
}
#nav .active {
  border-left: 5px solid #cf8714;
  background-color: #2ab1f1;
  opacity: 1;
  border-radius: 4px;
  margin-left: 0;
}
.newPlaylist {
  margin-top: 6px;
  font-size: 19px;
  color: #fff;
}
/* End Nav */

/* Start header */
#header {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  z-index: 99;
  min-width: 660px;
  left: 16%;
  top: 10px;
  right: 0;
  width: 82%;
}

.header-left {
  display: flex;
  float: left;
  justify-content: flex-end;
  align-items: center;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}
.search {
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 30em;
}

#header .header-left div input {
  height: 32px;
  border: none;
  width: 100%;
  background-color: Transparent;
  color: #fff;
  outline: none;
  margin-left: 10px;
}
#header .header-left i,
#header .header-right i {
  margin-left: 10px;
  color: #fff;
}
#header .header-right i {
  line-height: 2;
}
#header a {
  margin: 0 10px;
  width: 38px;
  height: 38px;
}
.form {
  margin-left: 20px;
}
#avatar {
  width: 38px;
  border-radius: 20px;
}
.arrow-right,
.arrow-left {
  opacity: 0.5;
}

#header a:hover {
  opacity: 0.8;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 130%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000000 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* End Header */

.content {
  width: 80%;

  float: left;

  position: absolute;
  top: 90px;
  left: 18%;
}
/* Start my Account */
.myAccount {
  background-color: rgb(163, 25, 25);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End My Account */

/* Start Home */
.home {
  background-color: rgb(61, 24, 194);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End Home */

/* Start Trend */
.trend {
  background-color: rgb(5, 2, 17);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End Trend */

/* Start Liked Song */
.likedSong {
  background-color: rgb(20, 218, 46);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End Liked Song */

/* Start Album */
.album {
  background-color: rgb(226, 223, 17);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End Album */

/* Start Artist */
.artist {
  background-color: rgb(192, 23, 192);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End  Artist*/

/* Start  History*/
.history {
  background-color: rgb(92, 245, 4);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End  History*/

/* Start Playlist */
.playlist {
  background-color: rgb(12, 236, 98);
  height: 900px;
  display: none;
  max-height: 600px;
}
/* End  Playlist*/
.content .active {
  display: block;
}

/* Start Play */
.playFrame {
  width: 100%;
  height: 90px;
  background-color: #f0e6e6;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;

  align-items: center;
}
/* display: none; */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #eb0a0a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #e40417;
  cursor: pointer;
}

.contentFrame {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.song {
  display: flex;

  width: 20%;
}
.avt-artist {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid #e40417;
}
.content-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}
.icon-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 30px; */
  align-items: center;
  flex-direction: row;
}
.icon-song i {
  margin-left: 20px;
}
.progress {
  display: flex;
  align-items: center;
}
.progress span {
  margin: 0 10px;
}
.play .button i {
  margin: 0 5px;
}
.play {
  height: 90px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.play .button {
  justify-content: center;
  display: flex;
  align-items: center;
}
.play .button i {
  margin: 0 15px;
}
.play .button i:hover {
  cursor: pointer;
  color: rgb(46, 10, 247);
}
.play .button .active {
  display: block;
}
.play .button .nonactive {
  display: none;
}
.volume {
  display: flex;
}
.volume i {
  margin-right: 10px;
}
.playFrame {
  background-image: url(../image/music.jpg);
  color: #ffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title {
  font-size:18px;
}
.singer {
  font-size: 12px;
}
/* End Play */
